body{
    position: relative;
}
 .container{
   display:grid;
   justify-content: center;
   grid-template-columns: 40vw;
   position: relative;
}
.content{
   display: grid;
    background-color:rgba(237, 207, 169,0.8);
   border-radius: 15px;
   padding:0 10px;
  
}
html{ 
   
   position:relative;
   width: 100vw;
   height: auto;
}
 html::before{
content:"";
position: absolute;
top:0;
bottom:0;
right:0;
left:0;
background-size:cover;
background:url('https://images.dailyhive.com/20190401091906/concordia-university-security-harrassment.jpg')no-repeat center  fixed;
background-size: cover;
opacity: 0.3;
    }

.survey-form{text-align: center;}
.title{text-align: center;}
input[type=text],select{
    width:100%;
    display:block;
    box-sizing: border-box;
    
    
}
textarea{max-width: 100%;
    min-width:100%;
    min-height: 30px;
    box-sizing: border-box;
    margin-bottom:40px;
    margin-top:10px;
   resize:vertical;
    
    
}


input[type=submit]{
    
   justify-self:center;
    bottom:0;
    left:0;
    right:0;
    background-color: #ff9a76;
    display:block;

}
input[type=checkbox]{
    display:inline-block;
    margin-right:10px;
    vertical-align: top;
}
label{
    margin:10px 0;
    align-self: center;
   
}
h1{text-align: center;}


  

  
  
  
  