html{ 
   
   position:relative;
   width: 100vw;
   height: 100vh;
  
  
}
    html::before{
content:"";
position: absolute;
top:0;
bottom:0;
right:0;
left:0;
background-size:cover;
background:url('https://images.dailyhive.com/20190401091906/concordia-university-security-harrassment.jpg')no-repeat center  fixed;
background-size: cover;
opacity: 0.3;
    }
body{
    position: relative;
}

    
  
  

  
  
  
  