.background-picture{ background:url(https://images.dailyhive.com/20190401091906/concordia-university-security-harrassment.jpg) no-repeat center  fixed;
    background-size:cover;
   height:100%;
    width:100%;   
    position:relative;
    z-index:1;
    opacity:0.5;
  }
  main{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:auto;
    z-index:2;
    
  }
  
  
  