html{
    height:100%;
   
}
#description{
    text-align: center;
}
 .container{
   display:grid;
   justify-content: center;
   grid-template-columns: 30vw;
   position: absolute;
   top:50px;
   
}

body{ 
   
   position:relative;
   width: 100vw;
   height:100%;
   display: grid;
   justify-items: center;
  
}
 body::before{
content:"";
position: absolute;
top:0;
bottom:0;
right:0;
left:0;
background-size:cover;
background:url('https://images.dailyhive.com/20190401091906/concordia-university-security-harrassment.jpg')no-repeat center  fixed;
background-size: cover;
opacity: 0.3;
    }
    .content{
        display: grid;
         background-color:rgba(237, 207, 169,0.8);
        border-radius: 15px;
        padding:0 10px;
        padding-bottom:10px;
        box-sizing: border-box;
        
     }
.survey-form{
    text-align: center;
    position:absolute;
    top:0;
    bottom:0;
}

.title{
    text-align: center;
}

input[type=text],input[type=email],input[type=number],select{
    width:100%;
    display:block;
    box-sizing: border-box;
    margin-bottom:10px;
    margin-top:10px;
    
    
}
textarea{max-width: 100%;
    min-width:100%;
    min-height: 30px;
    box-sizing: border-box;
    margin-bottom:30px;
    margin-top:10px;
   resize:vertical;
    
    
}

.submit{
    text-align: center;
}
input[type=submit]{
    background-color: #ff9a76;
}
input[type=checkbox]{
    display:inline;
    margin-right:10px;
    vertical-align: top;
}

label input[type=checkbox]{
    width:20%;
}
h1{text-align: center;font-size:1.2rem}


  

  
  
  
  